body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden-marker {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

.visually-hidden {
  font-size: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

/*form */

.form-label {
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 1px;
  color: #1e0606;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}


.proverka {
  font-size: 14px;
  line-height: 16px;
  margin-top: 22px;
  margin-bottom: 5px;
  color: #1e0606;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}


.form-input {
  line-height: 47px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #1e0606;
  padding-left: 20px;
  margin-top: 6px;
}

.form-chechbox {
  margin-bottom: 20px;
  border: 0 none;
  padding: 0px;
}

.textarea-massage {
  height: 150px;
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.form-column-100 {
  display: flex;
  flex-direction: column;
  width: 600px;
}

/* header */
.header {
  background-color: white;
  margin-top: 50px;
  padding-bottom: 0px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-link-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-left: 60px;
  flex-wrap: wrap;
}

.header-item {
  margin: 20px;
  display: flex;
}

.header-list-contact {
  display: block;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  color: #1e0606;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 20px;
}

.nav-item:hover,.nav-item:focus {
  opacity: 50%;
}

.nav-item:active {
  opacity: 20%;
}

.nav-item:focus {
  outline: none;
}

.link-contact {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 23.01px;
  margin-left: 23.45px;
  margin-right: 0px;
}

.header-main-contact {
  display: flex;
  align-items: center;
}

.search-button {
  text-transform: uppercase;
  padding: 0;
  border: none;
  background-color: white;
}

.search-button:hover,.search-button:focus {
  opacity: 50%;
  cursor: pointer;
}

.search-button:active {
  opacity: 20%;
}

.search-button:focus {
  outline: none;
}

.header-logo:hover,.header-logo:focus {
  opacity: 50%;
}

.header-logo:active {
  opacity: 20%;
}

.header-logo:focus {
  outline: none;
}

/* button */

.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 22px;
  border: none;
  transition: 0.3s;
}

.button:hover, .button:focus {
  background-color: #c29974;
}

.button:active {
  background-color: #cfaf91;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background-color: #c1c1c1;
}

/* breadcrums */

.breadcrumbs-item {
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
  margin-right: 20px;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
}

.active {
  opacity: 0.5;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* footer */

.footer {
  background-color: #434343;
}

.footer-content {
  background-color: #434343;
  width: 1400px;
}

.main-footer-content {
  display: flex;
  margin-bottom: 11px;
}

.general-footer-information {
  display: flex;
  padding-bottom: 100px;
}

.footer-line {
  background-color: #666666;
  width: 1180px;
  margin-bottom: 24px;
}

.title-main {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #aaaaaa;
  padding-top: 0px;
  margin-top: 100px;
  margin-bottom: 23px;
}

.footer-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer-item:hover,.footer-item:focus {
  opacity: 0.5;
}

.footer-item:active {
  opacity: 0.5;
  cursor: none;
}

.footer-item:focus {
  outline: none;
}

.footer-copyright {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 109px;
}

.design {
  color: #a2a2a2;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #a2a2a2;
}

.design:hover {
  text-decoration-line: underline;
  color: #ffffff;
}

.design:active {
  text-decoration-line: underline;
  color: #ffffff;
  cursor: none;
}

.star-button {
  padding: 0;
  margin-right: 6px;
  border: none;
  background-color: transparent;
}

.short-line {
  width: 380px;
  background-color: #666666;
  margin-bottom: 27px;
}

.navigation-list {
  margin-right: 18px;
}

.information-list {
  margin-right: 18px;
}

.connect-list {
  margin-right: 20px;
}

.footer-item {
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  align-items: flex-start;
}

.social-item {
  margin-right: 5px;
}

.social-item:hover,.social-item:focus {
  opacity: 0.5;
}

.social-item:focus {
  outline: none;
}

.social-item:active {
  opacity: 0.5;
  cursor: none;
}

/* не получилось сделать состояние hover для рейтинга */
.rating {
  margin-right: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}

.company-rating {
  margin-right: 151px;
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  margin-bottom: -3px;
}

.star-list {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -3px;
  margin-top: 2px;
}

.star {
  cursor: pointer;
  margin-left: 5px;
}

.email-form {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -7px;
}

.input-email-form {
  width: 299px;
  height: 40px;
  background: #666666;
  border: none;
}

.input-email-form:hover {
  border: 1px solid #fffdfd;
  cursor: pointer;
}

/* не получилось сделать состояние клика на форму имейл
.input-email-form::placeholder:active {
  border: 1px solid #FFFDFD;
  cursor: none;
  background-color: white;
}
*/

.button-footer {
  height: 40px;
  width: 81px;
  cursor: pointer;
}

placeholder {
  color: #ffffff;
}

.input-email-form::placeholder {
  color: #ebebeb;
}

input[placeholder="Email"] {
  padding-left: 15px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

/* порядок страниц */

.page-change {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: none;
  padding: 0px;
  padding: 0;
  border: none;
}

.change-next {
  background-image: url(./images/next1.png);
  width: 18px;
  height: 30px;
}

.change-next:hover,.change-next:focus {
  background-image: url(./images/next2.png);
  cursor: pointer;
}

.change-next:active {
  background-image: url(./images/next3.png);
}

.change-next:focus {
  outline: none;
}

.change-back {
  background-image: url(./images/next1.png);
  width: 18px;
  height: 30px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.change-back:hover,.change-back:focus {
  background-image: url(./images/next2.png);
  cursor: pointer;
}

.change-back:active {
  background-image: url(./images/next3.png);
}

.change-back:focus {
  outline: none;
}

.pagination {
  display: flex;
  margin-left: 64px;
}

.page-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages-list {
  margin-right: 65px;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1e0606;
}

.current {
  color: #c29974;
}

.page:hover, .page:focus {
  opacity: 0.5;
}

.page:focus {
  outline: none;
}